body {
    font-family: monospace;
    font-size: 20px;
}

.navbar {
    background-color: seagreen;
}

.quemsomos {
    background-color: slategrey;
}

.margin {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: steelblue;
}

.servicos {
    background-color: slategray;
}

.bg-footer {
    background-color: black;
    color: white;
}